.page-container {
    grid-template-columns: auto auto auto;
    padding: 10px;
    margin: auto;
    /* text-align: center; */
}


.page-header {
  text-align: center;
}

.link {
  text-align: center;
}

.contents {
  text-align: center;
}

a:hover {
  background-color: yellow;
  
}

a:link {
  text-decoration: none;
}

.text {
    text-align: left; 
    font-size: 10px;
    margin: auto; 
    padding-left: 10px;
    width: 120px;
}

.cart-text {
  font-size: 10px;
  margin: auto; 
  padding-left: 10px;
  width: 120;
}
.flavor a:hover {background-color: #f1f1f1}

.dropdown-container{
  background-color: #f1f1f1;
  width: 100px;
  height: 20px;
  text-align: center;

}

.dropbdown-icon {
  float: right;
}

.image {
  border: 1px solid black;
}