/* For all pages */
.page-container {
    padding: 10px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
  }

.page-header {
  text-align: center;
}

.logo {
  margin-right: 92%;
}

.navigations {
  font-size: 12px;
  text-align: center;
  width: fit-content;
  margin: auto;
  margin-bottom:48px;
}

hr.top-divider {
  border-top: 2px solid black;
}

.page-title {
  font-size: 14px;
  text-align: center;
  margin-bottom: 20px;
}

.contents {
  text-align: center;
}

/* Gallery lists */
.individual-item {
  width:120px;
  margin-right: auto;
  margin-left: auto;
} 

a {
  display: block;
  height:auto;
  width:auto;
}

a:hover {
  background-color: yellow;
  font-weight: 600;
}

a:link {
  text-decoration: none;
}

.image {
  border: 1px solid black;
}

/* Gallery lists */
.description {
    text-align: left; 
    font-size: 10px;
    margin: auto; 
    padding-left: 2px;
    width: 100px;
    margin-bottom: 12px;
  }

  /* Product Detail Page */
.dropdown-title {
  text-align: left; 
  font-size: 10px;
  margin: auto; 
  padding-left: 2px;
  width: 100px;
  margin-top: 12px;
}

.selection {
  margin-right: auto;
  margin-left: auto;
}

.customize {
  width: 100px;
  font-size: 10px;
  border: 1px solid black;
}

.size {
  width: 100px;
  font-size: 10px;
  border: 1px solid black;
}

.add-to-cart {
  font-size: 12px;
  width: fit-content;
  margin-right: auto;
  margin-left: auto;
  margin-top: 24px;
  justify-content: space-between;
}

  /* Shopping Cart Page */
.remove {
  font-size: 6px;
  margin-bottom: 12px;
}

.item-summary {
  font-size: 10px;
  margin-bottom:24px;
}

.total {
  font-size: 10px;
  margin-bottom: 8px;
}

hr.bottom-divider {
  border-top: 1px solid black;
  width: 30%;
}

.checkoutbtn {
  font-size: 10px;
}